/* Custom Stylesheet */
/**
 * Use this file to override Materialize files so you can update
 * the core Materialize files in the future
 *
 * Made By MaterializeCSS.com
 */

.icon-block {
    padding: 0 15px;
}
.icon-block .material-icons {
    font-size: inherit;
}

html {
    font-family: 'Ubuntu', sans-serif;
}
body{
    font-size: 16px;
    line-height: 28px;
    font-weight: 200;
}
p{
    font-size: 16px;
}

h1 {
    font-size: 38px;
    
}
h2 {
    font-size: 44px;
}
h3 {
    font-size: 32px;
}
h4 {
    font-size: 24px;
}
h5 {
    font-size: 22px;
    line-height: 30px;
}
h6 {
    font-size: 20px;
}

.row{
    margin: 0;
}
  
#img-logo{
    margin-top: 20px;
    max-height: 20px;
}

nav .nav-wrapper{
    padding: 0 30px;
}

nav a, nav ul li a {
    color: #212121;
}
nav ul a{
    font-weight: 300;
    font-size: 1rem;
    padding: 0 15px;
}
nav ul a.btn{
    padding: 0 1rem;
    margin: 5px;
}
.relative{
    position: relative;
}
.hero {
    box-sizing: border-box;
    box-shadow: none;
    padding: 0;
    position: relative;
    height: 168px;
    margin-bottom: 30px;
}

.hero.super-large .hero-logo{
    padding: 0;
    margin-top: 30px;
    width: 240px;
    opacity: 1;
}
@media only screen and (min-width : 800px) {
    .container{
        width: 90%;
    }
    #content.container{
        width: 70%;
    }
    #text-banner{
        font-size: 24px;
        font-weight: 200;
    }
    .post-banner{
        top: 450px;
        left: 50%;
        margin-bottom: -70px;
        margin-left: -392px;
        position: absolute;
        width: 784px;
    }
    .text-banner{
        top: 350px;
        left: 50%;
        margin-bottom: -70px;
        margin-left: -392px;
        position: absolute;
        width: 784px;
    }
    .hero.super-large{
        height: 560px;
        text-align: center;
    }
}
@media only screen and (max-width : 800px) {
    #text-banner{
        font-size: 20px;
        font-weight: 200;
        
    }
    .hero.super-large{
        height: 300px;
        text-align: center;
    }
}
#splash-logo{
    max-height: 120px;
    max-width: 120px;
    margin-bottom: 44px;
}
.splash-item{

}

#carrusel{
    height: 250px!important;
    margin-top: 30px;
    margin-bottom: -70px;
}

.description{
    font-style: normal;
    line-height: 20px;
    text-align: justify;
    font-weight: 200;
    font-size: 16px;
}

#section2{

}


.partners-img{
    max-height: 150px;
    max-width: 150px;
    vertical-align: middle;
}
.customers-img{
    max-height: 100px;
    max-width: 100px;
    vertical-align: middle;
}

#partner-carousel{
    max-height: 350px;
}

#index-banner{
    max-width: 100%;
    z-index: -1;
}

.showcase{
    width: 100%;
    padding: 0 7%;
    display: table;
    margin: 0;
    max-width: none;
    height: 100vh;
}

/*Timeline*/
#content {
    text-align: center;
    
}

section.timeline-outer {
    width: 90%;
    margin: 0 auto;
}

h1.header {
    font-size: 50px;
    line-height: 70px;
}
/* Timeline */

/*Estilos del contenedor*/
.timeline {
    border-left: 8px solid #e0e0e0;
    margin: 50px auto;
    position: relative;
    list-style: none;
    text-align: left;
}

/*Margen interno*/
.timeline h1,
.timeline h2,
.timeline h3, 
.timeline p,
.timeline a{
    margin-left: 20px;
}

.timeline .event {
    /*linea separadora*/
    border-bottom: 1px solid rgba(160, 160, 160, 0.2);
    padding-bottom: 15px;
    position: relative;
}

.timeline .event:before,
.timeline .event:after {
    position: absolute;
    display: block;
    top: 0;
}

.timeline .event:before {
    left: -177.5px;
    content: attr(data-date);
    text-align: right;
    font-weight: 200;
    font-size: 16px;
    min-width: 120px;
}

.timeline .event:after {
    box-shadow: 0 0 0 8px #e0e0e0;
    left: -10px;
    background: black;
    border-radius: 50%;
    height: 12px;
    width: 12px;
    content: "";
    top: 5px;
}

.timeline-img{
    height: 100%;
    margin-top: 30px;
    border-radius: 5px;
}

@media (max-width: 945px) {
  .timeline .event::before {
    content: "";
  }
  .timeline h3 {
    font-size: 20px;
  }
  .timeline p {
    padding-top: 18px;
  }
}

@media (max-width: 768px) {
  .timeline .event::before {
        content: "";
  }
  .timeline h3 {
    font-size: 18px;
  }
}

/*Onmil Declarations*/
.sub-table-of-contents li a{
    font-size: 13px;
    margin-left: 20px;
}

/**/
.show-card{
    border-radius: 10px;
}
.card-panel{
    padding: 10px;
}

/**/
.landing-container{
    height: 87vh;
    background-image: linear-gradient(to bottom right,#AFD6E3, #293770);
 
    background-size: cover;
}
.landing-container:before{
    background-image: url(../img/Fotos/adfg.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    z-index: 1;
    opacity: 0.05;
    content: '';
    display: block;
    position: absolute;
    top: 64px;
    bottom: 50px;
    right: 0;
    left: 0;
}
.landing-content{
    font-family: 'Comfortaa', cursive;
    display: block;
    line-height: 100px;
    margin-left: auto;
    margin-right: auto;
    text-align: center;
    opacity: .9;
    bottom: 50vh;
}
.landing-content h1{
    margin: 0;
    font-weight: 700;
}
.landing-content h2{
    margin: 0;
    font-weight: 300;
    font-size: 28px;
    padding-top: 3vh;
}
.landing-logo{
    padding-top: 20vh;
    max-height: 150px;
    max-width: 150px;
}
#section0{
    height: 15vh;
}

.comp-card{
    background: white;
    width: 300px;
    display: inline-block;
    margin: auto;
    border-radius: 20px;
    position: relative;
    text-align: center;
    z-index: 9999;
}
.comp-card--imagen{
    position: relative;
    height: 230px;
    border-top-left-radius: 14px;
    border-top-right-radius: 14px;
    border-bottom-left-radius: 14px;
    border-bottom-right-radius: 14px;
}
.comp-card--imagen_minas{
    /*background: linear-gradient(to bottom right, #eacda3, #FFB347);*/
}
.comp-card--imagen_desarrollo{
    /*background: linear-gradient(to bottom, #ACE2F3, #75D2EF);*/
}
.comp-card--imagen_energia{
    /*background: linear-gradient(to bottom right,#B6E974, #99DC74);*/
}
.comp-card--imagen img{
    width: 200px;
    position: absolute;    
    top: 10px;
    left: 50px;
}
